{{!-- <div class="card mb-3">
    {{#each datos}}
    <img src="{{cover}}" class="card-img-top w-25 h-50" alt="community cover">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}.</p>
        <p class="card-text"><small class="text-muted">Members</small></p>
        <a href="/community/{{_id}}">See more</a>
        {{/each}}
    </div> --}}


    <div class="container">
        <div class="card mb-3">
            {{#each datos}}
            <img src="{{cover}}" class="card-img-top w-50 h-50" alt="community cover">
            <div class="card-body">
                <h5 class="card-title justify-center">{{name}}</h5>
                <p class="card-text justify-center">{{description}}</p>
                <p class="card-text justify-center"><a href="/community/{{_id}}">See more</a></p>
                {{/each}}
            </div>
        </div>

    </div>